section {
    width: 100%;
    padding: 0 20px;
}
#scriptslist {
    padding: 0;
    list-style-type: none;
}
#scriptslist li {
    padding: 0.5ch 0;
}
#scriptslist li > * {
    vertical-align: middle;
}
#scriptslist li label {
    padding-left: 1ch;
}
